<!DOCTYPE HTML>
<html>

<head>

  <link rel="stylesheet" type="text/css" href="sub/substyle.css">
  <link rel="stylesheet" type="text/css" href="sub/substyle-button.css">
  <meta charset="utf-8">
  <title>サブページ</title>
  <script src="editFormScript.js"></script>
  <script src="deletePostScript.js"></script>
</head>

<body>
  <section>


    <p><a href="/">TOPページへ</a></p>


    <div class="uploadBox">

      <form action="sub/uploadImage" method="POST" enctype="multipart/form-data">
        <% if (typeof message !=='undefined' ) { %>
          <p>
            <%= message %>
          </p>
          <% } %>
            <label>
              画像をアップロード
              <input type="file" name="image" class="form-control-file">
            </label>
            <br>
            <label>
              投稿文を入力

              <textarea type="text" name="postText" id="postText" class="form-control"
                placeholder="キャプションを入力"></textarea>

            </label>
            <button type="submit" class="btn btn-primary">アップロード</button>
      </form>
    </div>

    <div class="container">
      <% imageData.forEach((image, index)=> { %>
        <div class="frame">
          <div class="photo_head flex">
            <div class="icon">
              <img width="48" height="48" src="https://img.icons8.com/emoji/48/rabbit-face-emoji.png"
                alt="rabbit-face-emoji" />
              <p>@<%= image.user %>
              </p>
            </div>
          </div>

          <div class="post">
            <img src="<%= image.url %>" alt="<%= image.name %>" class="card-img-top">
            <p>
              <%= image.name %>
            </p>
          </div>




          <div class="edit-form" style="display: none;">
            <form action="/sub/edit" method="post">
              <input type="hidden" name="imageId" value="<%= image.id %>">
              <p class="upload-message"></p>
              <input type="text" name="editedText" id="editInput" class="editInput" value="<%= image.name %>">
              <button type="submit" class="saveEditButton" id="saveEditButton">
                <span class="bn54span">保存</span></button>
              <button type="button" class="closeFormButton">
                <span class="bn54span">
                  閉じる
                </span>
              </button>
            </form>
          </div>


          <div class="link_area flex">
            <div class="left flex">
              <span><img src="https://img.icons8.com/glyph-neue/64/love-circled--v1.png"
                  alt="love-circled--v1" /></span>
              <span><img
                  src="https://img.icons8.com/external-inkubators-detailed-outline-inkubators/25/external-comment-video-interface-inkubators-detailed-outline-inkubators.png"
                  alt="external-comment-video-interface-inkubators-detailed-outline-inkubators" /></span>
              <span><img
                  src="https://img.icons8.com/external-yogi-aprelliyanto-basic-outline-yogi-aprelliyanto/64/external-paper-plane-design-thinking-yogi-aprelliyanto-basic-outline-yogi-aprelliyanto.png"
                  alt="external-paper-plane-design-thinking-yogi-aprelliyanto-basic-outline-yogi-aprelliyanto" /></span>
            </div>
            <div class="right">
              <span><img width="32" height="32"
                  src="https://img.icons8.com/external-anggara-outline-color-anggara-putra/32/external-bookmark-ecommerce-interface-anggara-outline-color-anggara-putra.png"
                  alt="external-bookmark-ecommerce-interface-anggara-outline-color-anggara-putra" /></span>
            </div>
          </div>


          <div class="button-container">
            <button class="bn54 edit-button" data-index="<%= index %>">
              <span class="bn54span">

                <div class="edit icon">
                </div>
                編集
              </span>
            </button>
            <button class="bn54 delete-button" data-index="<%= index %>" data-post-id="<%= image.id %>">
              <span class="bn54span">
                <div class="trash icon"></div>
                削除
              </span>
            </button>
          </div>


        </div>
        <% }) %>

    </div>

  </section>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>